h1{
    color: blue;
}

.header{
    width: 1000px;
    height: 65px;
    background-color: lightblue;
}

.container{
    width: 1000px;
    height: 683px;
    background-color: lightpink;
}

.footer{
    width: 1000px;
    height: 20px;
    background-color: lightblue;
}